config/*

!config/custom_components/
!config/configuration.yaml
!config/ui-lovelace.yaml
!config/input_booleans.yaml 
!config/input_numbers.yaml 
!config/input_selects.yaml
!config/lovelace-views/

config/custom_components/green_shift/__pycache__/

config/secrets.yaml
config/home-assistant_v2.db
config/.storage/
config/*.log
config/backups/

commands.MD