config/*

!config/custom_components/
!config/configuration.yaml
!config/ui-lovelace-en.yaml
!config/ui-lovelace-pt.yaml
!config/input_booleans.yaml 
!config/input_numbers.yaml 
!config/input_selects.yaml
!config/lovelace-views/
!config/customize_en.yaml
!config/customize_pt.yaml
!config/locales/

config/custom_components/green_shift/__pycache__/

config/secrets.yaml
config/home-assistant_v2.db
config/.storage/
config/*.log
config/backups/

commands.MD
TESTING_GUIDE.MD